
    .choose-us{

  .img-one{
    padding:10px 18px 18px 10px;
    z-index: 2;
    background:#E2E1FF;
    margin: -30px 50px;
    border-bottom-right-radius:15px;
  }      
  .img-two{
    padding:10px 18px 18px 10px;
    z-index: 2;
    background:#FFEDE8;
    margin: -30px 50px;
    border-bottom-right-radius:15px;
  }   
  .img-t{
    padding:10px 18px 18px 10px;
    z-index: 2;
    background:#D3FCFF;
    margin: -30px 50px;
    border-bottom-right-radius:15px;
  }    
  
  .img-one-b{
    padding:8px;
    background:#FF7F5C;
    border-radius: 100%;
    margin-right: 10px;
   
  }      
  .img-two-b{
    padding:8px;
    background:#3734A9;
    border-radius: 100%;
    margin-right: 10px;
  }   
  .img-t-b{
    padding:8px;
    background:#00E1F0;
    border-radius: 100%;
    margin-right: 10px;
  }




  margin-top:70px;
     .choose-finacy{
        font-size:15px;
        font-family: var(--font-base-alef);
        text-align: center;
        font-weight: 700;
        text-align: center;
        color: var(--text-header);
     }  
     .h-text-finance{
        font-family: var(--font-base);
        font-weight: var(--font-weight-medium);
        color: var(--Black);
        font-size:21px;
        text-align: center;
        } 
        .cards{
            display: flex;
            width: 100%;
            margin-top:50px;

            .moderm-cards{
             flex-direction: column;
             width:350px;
             height: 200px;
             border: 1px solid #E9E9E9;
             margin-right:52px;
             border-bottom-right-radius:15px;
             .small-h-ext{
                padding: 20px;
                margin-top: 16px;
                font-family:var(--font-base-Manrope);
                font-weight: 800;
                font-size: 15px;
                color: var(--Black);
             } 
              .small-p-ext{
                padding-left: 20px;
                font-family:var(--font-base-Manrope);
                font-weight: 500;
                color:#757095;
              }
            }
        }
       .choose-us-second-section{
        
        display: flex;
        width: 100%;
        margin-top: 120px;
        justify-content: center;
        justify-items: center;
        
      
      
        .transfers{
          justify-content: flex-start;
          width:400px;
          height: 280px;
          margin-right: 85px;
          

          img{
            width: 100%;
           
          }
          div{
            z-index: 2;
            margin-top: -198px;
            margin-left: 114px;
            
            input{
              border: none;
              background: #E8F2FF;
              padding: 5px;
              &:focus{
                outline: none;
              }
            }
            button{
              border: none;
              background:#00E1F0;
              padding: 5px;
              color:var(--White);
            }
          }
        }
        
        .crypto-portfolio{
          width:400px;
          height: 280px;
          justify-content: flex-end;
          justify-items: end;
          text-align: left;
          margin-left: 50px;

         .choose-second{
          font-family:var(--font-base-alef);
          font-weight: 800;
          font-size: 15px;
          color: var(--text-header);
          margin-bottom: 6px;

         } 
          .h-text-second{
            font-family:var(--font-base-Manrope);
            font-weight: 800;
            font-size: 15px;
            color: var(--Black);

            p{
              font-family:var(--font-base-Manrope);
              font-weight: 500;
              color:#757095;
              margin-top: 10px;
            }
            img{
              width: 400px;
            }
            .list-items{
             flex-direction: column;
             span{
              display: flex;
              align-items: center;
              
              img{
                width: 6%;
                height: 6%;
                margin-right: 5px;
                align-items: center;
              }
             }
            }
          }
        }
       } 

       .choose-us-third-section{
        display: flex;
        width: 100%;
        margin-top: 90px;
        justify-content: center;

        .choose-us-flex-one{
          width:400px;
          height: 280px;
          margin-right: 20px;

          .choose-third{
            font-family:var(--font-base-alef);
            font-weight: 800;
            font-size: 15px;
            color: var(--text-header);
            margin-bottom: 6px;
          }
          .h-text-third{

            font-family:var(--font-base-Manrope);
            font-weight: 800;
            font-size: 15px;
            color: var(--Black);
          }
          p{
            font-family:var(--font-base-Manrope);
            font-weight: 500;
            color:#757095;
            margin-top: 10px;
            font-size: 12px;
          }
          span{
           
           h2{
            font-family:var(--font-base-Manrope);
            font-weight: 800;
            font-size: 14px;
            color: var(--Black);
            margin-top: 10px;
            margin-bottom: 10px;
           }
           div{
            display: flex;
            align-items: center;
            img{
              width: 40px;
              height: 40px;
            }
           }
            

          }

        }
        .choose-us-flex-two{
       
        width:450px;
        height: 290px;
        img{
          width: 100%;
        }
        }
       }
    }