.App__container{
    width: 100%;
    min-height: 100vh;
    padding: 50px;
}
ul{
font-family: var(--font-base);
font-size: var(--font-size);
font-weight: var(--font-weight-light);
color: var(--Dark-grayish-blue);
}
li{
    text-decoration: none;
    cursor: pointer;
    margin: 0 1rem;
    
}
a{
    text-decoration: none;
    cursor: pointer;
}

h5{
    font-family: var(--font-base);
    font-size: var(--font-size);
    font-weight: var(--font-weight-light);
    color: var(--primary-color);
}
h3{
    font-family: var(--font-base);
    font-size: var(--font-size);
    font-weight: var(--font-weight-heavy);
    color: var(--Dark-grayish-blue);  
}
p{
    font-family: var(--font-base);
    font-size: var(--font-size);
    font-weight: var(--font-weight-light);
    color: var(--Dark-grayish-blue);  
}
.border__radius{
    border-radius: 8px;
}

