.App__container{
    width: 100%;
    min-height: 100vh;
    padding-left: 4.0625rem;
    padding-right: 4.0625rem;
}
ul{
font-family: var(--font-base);
font-size: var(--font-size-small);
font-weight: var(--font-weight-light);
color: var(--Black);
}
li{
    text-decoration: none;
    cursor: pointer;
    margin: 0 1rem;
    
}
a{
    text-decoration: none;
    cursor: pointer;
}
